.main {
    height: 74vh;
    background-image: url("/nature2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 2em;
}
.appbar {
    // background-color: #f0eff4;
    background-color: transparent;
    height: 13vh;
    // background-color: transparent;
    // background: #161620;
}
.contact {
    height: 74vh;
    background-image: url("/staticmap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 2em;
}

.work {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.work-1 {
    height: 45vh;
}
.work-2 {
    height: 25vh;
}

.menu-item {
    // color: #14141e;
    color: #fefefe;
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    .work-1 {
        height: 75vh;
    }

    .work-2 {
        height: 30vh;
    }
}
